#seta {
    margin: 10px;
}

.btn-primary {
    background-color: #f28500;
    border-radius: 10px;
}

.btn-primary:hover {
    opacity: 1;
    background-color: #f5a44d;
}

.topbar-social-item {
    font-size: 18px;
    color: #f5a44d;
    padding: 10px;
}

#icone {
    color: #f5a44d;
    size: 50px;
    padding: 10px;
}

.icone {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

#seta:hover .icone {
    visibility: visible;
    opacity: 1;
    background-color: #f5a44d;
    padding: 10px;
}

h1 {
    font-family: monospace;
    font-style: italic;
    font-size: 1.5em;
}

.slider {
    background-color: #e2e2e2;
    padding: 10px;
    margin: 0px;
}

div.main>div.container {
    padding: 10px;
    margin: 0px 0px 0px 0px;
}