<div class="container-fluid">
    <div id="carouselExampleControls" class="carousel slide p-3 slider" data-ride="carousel">
        <div class="row">
            <div class="col">
                <h2>
                    Precisando de peças para o seu carro?
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="seta" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="icone carousel-control-prev-icon "></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a id="seta" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="icone carousel-control-next-icon"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="mx-auto mt-3 mb-3">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Entre em contato
          </button>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Contatos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <p><i id="icone" class="fa fa-volume-control-phone" aria-hidden="true"></i> Telefone Fixo: (31) 3621-1597 / (31) 36229207</p>
                <p><i id="icone" class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp: (31) 99677-7638</p>
                <p>
                    Nos siga em nossas redes sociais:
                    <a href="https://www.facebook.com/celviaautopecas/"><i id="icone" class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/celvia_autopecas/"><i id="icone" class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>